.contact{
    padding: 20px;
    margin-top: 20px;
    position: relative;
}
.linksBx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}
.link{
    width:36%;
    min-width: 200px;
    max-width: 300px;
    margin:10px;
    margin-top: 15px;
    background: linear-gradient(30deg , rgba(0, 0, 0, 0.582) , rgba(128, 0, 128, 0.603));
    padding: 9px;
    border-radius: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.712);
    text-decoration: none;
}
.link_icon{
    margin-right: 5px;
    color: rgba(137, 43, 226, 0.534);
}