.stack{
    margin-top: 20px;
    padding: 20px;
}
.stack .stackContainer{
    display: flex;
    flex-wrap: wrap;
}
.stack .stackContainer .stackBx{
margin: 10px;
width: 45%;
min-width: 250px;
display: flex;
padding: 8px;
align-items: center;

}
.stack .stackContainer img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    width: 20%;
    min-width: 20%;
}
.progressBarBx{
    height: 20px;
    width: 80%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    background:linear-gradient(50deg, rgba(0, 0, 0, 0.74), rgba(128, 0, 128, 0.466));
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.reactbar{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 20px;
    background:rgba(135, 207, 235, 0.644);
    border-radius: 15px;
}
.jsbar{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 20px;
    background:rgba(255, 255, 0, 0.418);
    border-radius: 15px;
}
.cssbar{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 20px;
    background: rgba(0, 183, 255, 0.267);
    
    border-radius: 15px;
}
.htmlbar{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 20px;
    background:linear-gradient(10deg, #333, rgba(255, 166, 0, 0.486));
    border-radius: 15px;
}
.bsbar{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 20px;
    background:rgba(137, 43, 226, 0.363);
    border-radius: 15px;
}