@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:rgba(0, 0, 0, 0.842);
    color: white;
    font-family: "Roboto", sans-serif;
    
   
}
.stop{
    overflow: hidden;
}
.sectionTitle{
    text-align: center;
    font-weight: 700;
    font-family: "Kode Mono", monospace;
    font-size: 27px;
}
.sectionTitle .firstLetter{
    color: blueviolet;
    font-size: 32px;
    font-weight: 900;
}